<!--login page cantain two fields email and password-->
<!--<ion-view view-title="Login" hide-back-button="true" ng-hide="isAuthenticated">-->
<ion-view view-title="">
    <ion-content class="has-header has-subheader" scroll="false">
        <font color="black"><h4 id="Welcome">Welcome! please enter email and password to login</h4></font>
        <form accept-charset="UTF-8" name="loginForm">
            <!--<div class="list list-inset">-->
            <label class="item item-input">
                <i class="icon ion-person "></i>
                <input type="email" placeholder="Email" ng-model="user.userName" method="post">
            </label>
            <label class="item item-input">
                <i class="ion-locked "></i>
                <input type="password" placeholder="Password" ng-model="user.password">
            </label>
            <!--</div>-->
            <div>
                <button class="button button-full" id="sbmitBtn" ng-click="login()" ng-disabled="loginForm.$invalid||loginProgress" ui-sref="home"><font color="white">SUBMIT</font></button>
            </div>
            <div>
                <div class="top-buffer">
                    <button type="button" class="btn btn-default" ng-click="resetPassword()"><center><B><font color="white">Forgot password? </font></B></center></button>
                </div>
                <div class="top-buffer">
                    <button type="button" class="btn btn-default"  ui-sref="register"><center><B><font color="white">Need to register</font></B></center></button>
                </div>
            </div>
            <div id="termCondition">
                <center><u><font color="black"> T&Cs</font></u></center>
            </div>
        </form>

    </ion-content>
</ion-view>